.int-wrap.school-wrap .bulk-wrap>main .showsidenav {
	padding-bottom:20px; 
	
}

#months {
	padding:10px 15px 15px;
	background-color:#eee;
	
}


#months span.btn-maroon {
	margin-right:20px;
	margin-bottom:10px;
}

#months span.highlight-issue {
	background-color:#BC9B6B;
	
}
#months span.highlight-issue a:hover {
	color:#8A100B;
}


#listData ul.mylist {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
	column-count: 4;
	list-style:none;
	padding-left:0px;
	margin-bottom:0px;
	background-color: #fff;
    border-top: 3px solid #B70000;
    padding: 2px;
	padding-bottom:10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	font-size:13px;
}

#listData li {
	padding: 0px 5px;
	position: relative;
}

.highlight-li {
	background-color:#eee;
}

.highlight-li:after {
	content: "\e603";
    font-family: icomoon;
    color: #ce0303;
    padding-left: 10px;
	position:absolute;
	right:5px;
}
a.subjectLink:focus, a.subjectLink:hover, a.all:focus, a.all:hover {
	
} 

.dataTables_filter input {
	margin-left:5px;
	
}

#newacq table.dataTable th {
	display:none;
}

#newacq table.dataTable, #newacq table.dataTable td {
	border:0px solid black;
	background-color:transparent;
	
}
#newacq tr {
	min-height:116px;
}

td.image {
	width:150px;
	
}

#newacq tr.group {
	background-color:#899387;
	color:#ffffff;
	min-height:0px;
}

@media (max-width: 700px) {
	#listData ul.mylist {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
	column-count: 3;
	}
}
@media (max-width: 400px) {
	#listData ul.mylist {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
	column-count: 2;
	}
}




